<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
  <%= f.fields_for :snapshots do |s| %>
    <%= s.label :body %><br>
    <%= s.cktext_area :body, rows: 10 %>
    <% end %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

