  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "input-field" %>
  </p>
 
  <p>
  <%= f.fields_for :snapshots do |s| %>
    <%= s.label :body %><br>
    <%= s.cktext_area :body, rows: 10, class: "input-field" %>
    <% end %>
  </p>
 
  <p>
    <%= f.submit "submit", class: "button" %>
  </p>
