<h3 class="title-for-line">Article from <%= @wiki.name %> Wiki </h3>
<h4 id="article-title"><%= @article.title %></h4>
        <% @article.categories.each do |category| %>
          <div id="category">filed under: <%= category.name %></div>
          <% end %>

  <div><%= @snapshot.body.html_safe %></div>

  <% if current_user && @wiki.administered_by?(current_user) %>

    <div>see your <%= link_to 'revisions', snapshot_path(@snapshot) %> history!</div><br>

    <div><%= link_to 'edit your article', edit_article_path(@article) %> • <%= link_to 'delete your article', article_path(@article), method: "delete" %></div><br>


  <% end %>