<!-- <h4>this is a wiki all about ruby on rails! create a wiki or read about anything rails-related here</h4>
 -->
    

  <%= link_to "browse our wikis!", wikis_path, id: "browse-wikis" %>



<% if user_signed_in? %>
  <h4><%= link_to "create your own wiki today!", new_wiki_path %></h4>
<% else %>
  <h5><%= link_to "Log in", new_user_session_path %> or <%= link_to "sign up to create a rails wiki today!", new_user_registration_path %></h5>
<% end %>

  <h4 id="featured-articles-homepage-title">featured articles:</h4>
    <% @articles.each do |article| %>
    <% if article.featured? %>
      <h3><%= link_to article.title, article_path(article) %></h3>
        <% article.categories.each do |category| %>
          <div>filed under: <%= category.name %></div>
          <% end %>
      </div>
    <% end %>
  <% end %> 

