<!-- <h4>this is a wiki all about ruby on rails! create a wiki or read about anything rails-related here</h4>
 -->

<div class ="container">

  <% if user_signed_in? %>

    <div id="browse-wikis"><%= link_to "browse our wikis!", wikis_path%> • <%= link_to "create your own wiki today!", new_wiki_path %></div>

  <% else %>

   <div id="browse-wikis"><%= link_to "browse our wikis!", wikis_path%></div>

    <div id="login-home-section"><%= link_to "Log in", new_user_session_path %> or <%= link_to "sign up to create a rails wiki today!", new_user_registration_path %></div>
    
  <% end %>


    <h4 id="featured-articles-homepage-title">featured articles:</h4>
    
      <% @articles.each do |article| %>
      <% if article.featured? %>
        <h3><%= link_to article.title, article_path(article), class: "homepage-article-title" %></h3>
          <% article.categories.each do |category| %>
            <div id="category">filed under: <%= category.name %></div>
            <% end %>
      <% end %>

    <% end %> 

</div>



