<h2>available wikis:</h2>


  <% @wikis.each do |wiki| %>
    <div class="wiki-name"><%= link_to wiki.name, wiki_path(wiki) %></div>
    <div class="edit-wiki-link"><%= link_to 'edit this wiki', edit_wiki_path(wiki) %></div>
    <tr>
      <td><%= wiki.name %></td>
      <td><%= link_to 'Show', wiki_path(wiki) %></td>
      <% if current_user && wiki.administered_by?(current_user) %>
      <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
      <% end %>
    </tr>
  <% end %>

  <div class="create-new-wiki-link"><%= link_to "don't see a wiki you like? create a new wiki!", new_wiki_path %></div>


