  <div><h2><%= link_to @wiki.name, wiki_path(@wiki) %></h2></div>

  <% if current_user && @wiki.administered_by?(current_user) %>

    <div><%= link_to 'delete', wiki_path(@wiki), method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <div><%= link_to "edit", edit_wiki_path(@wiki) %></div>
    
  <% end %>

  <div><%= link_to "create a new article for this wiki", new_article_path %></div>

  <div><%= link_to 'back', wikis_path %></div>
