<div class="container">
  <h1> Edit Admin Roles </h1>
  <ul>
    <% @wiki.roles.each do |role| %>
      <li>
        <%= form_tag("/roles/#{role.id}", method: :put, class:"role-form") %>
          <%= hidden_field_tag :role_id, role.id %>
          <% if @wiki.administered_by?(role.user) %>
            <%= hidden_field_tag :admin?, false %>
            <%=check_box_tag(:admin?, true, checked = true)%>
          <% else %>
            <%= hidden_field_tag :admin?, false %>
            <%=check_box_tag(:admin?, true) %>
          <% end %>
        <%= submit_tag "", style: "display:none;" %>
        <%= role.user.email %>
      </li>
    <% end %>
  </ul>
  <div class="button roll-submit" style="width:10%;">Submit</div>
</div>