<!DOCTYPE html>
<html>
<head>
  <title>RailsWiki</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="login-signup-logout-container">
  <% if user_signed_in? %>
    <%= link_to "home", root_path %> • <%= link_to "log out", destroy_user_session_path, method: :delete %>

  <% else %>

  <%= link_to "home", root_path %> •
  <%= link_to "log in", new_user_session_path %> • <%= link_to "sign up", new_user_registration_path %>

  <% end %>
</div>

<div id="header-image">



</div>

<% if @admin_errors %>
 <% @admin_errors.each do |error_message| %>
    <%= error_message %>
  <% end %>

  <% else %>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

<footer>

&copy; <%= link_to "radicaldesi", "http://www.github.com/radicaldesi", target: "_blank" %> • <%= link_to "joeyoo", "http://www.github.com/joeyoo", target: "_blank"  %> • <%= link_to "icalving", "http://www.github.com/icalving", target: "_blank"  %> • <%= link_to "cfnils", "http://www.github.com/cfnils", target: "_blank"  %> • <%= link_to "alicefonfa", "http://www.github.com/alicefonfa", target: "_blank"  %>



</footer>
<% end %>
</body>



</html>
